body{ margin:0; padding:0; 
    background-image:url("https://raw.githubusercontent.com/Harish040805/eakn/refs/heads/main/eaknbg.jpg");
    background-position:center; background-repeat:no-repeat; background-size:cover; background-attachment:fixed;
    color:#fff; font-family:Arial, sans-serif; overflow:hidden; user-select:none; display:flex; 
    justify-content:center; align-items:center; height:100vh; }
.welcome-box{ overflow:hidden; max-width:390px; width:420px; 
    background-image: linear-gradient(to right, #3b83ff, #90b6f8); padding:30px; border-radius:15px;
    box-shadow:0 15px 25px rgba(0,0,0,0.2); }
.title{ font-size:28px; margin-bottom:20px; color:#fff; font-weight:bold; }
.subtitle{ font-size:16px; margin-bottom:30px; color:#ddd; }
.welcome-btn{ width:100%; padding:12px; border:2px solid #459cd6; 
    background:linear-gradient(to right,#90b6f8,#3b83ff); border-radius:15px; color:white; 
    font-size:18px; cursor:pointer; transition:0.5s ease-in-out; }
.welcome-btn:hover{ background:linear-gradient(to right,#3b83ff, #90b6f8); transition:all 0.4s ease; }
.logo-circle{ width:100px; height:100px; border-radius:50%; object-fit:cover; margin-bottom:20px;
    border:2px solid #3b83ff; }
.slider-container{ width:100%; height:55px; background:rgba(255,255,255,0.2); border-radius:30px;
    overflow:hidden; position:relative; cursor:pointer; margin-top:10px; backdrop-filter:blur(5px); }
.slider-track{ position:relative; width:100%; height:100%; }
.slider-thumb{ width:55px; height:55px; background:#fff; border-radius:50%; position:absolute; left:0; top:0;
    display:flex; align-items:center; justify-content:center; color:#3b83ff; font-weight:bold; font-size:18px;
    transition:0.5s ease; box-shadow:0 4px 15px rgba(0,0,0,0.3);}
.slider-text{ position:absolute; width:100%; text-align:center; line-height:55px; color:#fff; 
    font-weight:bold; font-size:16px; letter-spacing:1px; transition:0.3s; }